extends ../../layouts/default.pug 
//- mixins
include ../../mixins/box-head.pug
//- extends là kế thừa ; include là nhúng 

block main
    .container.my-3 
        .row    
            .col-12 
                +box-head("Danh Sách Sản Phẩm")
        .row 
            .col-4.mb-3
                .product-item 
                    .inner-image 
                        img(src="https://images.unsplash.com/photo-1741482529112-fb0f993430fc?q=80&w=1950&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="iphone 9",height= "50%")
                    .inner-content 
                        h3.inner-title iphone 9
                        .inner-price-new 99$
                        .inner-price-old 199$
                        .inner-discount -20%